# Folders
results/

# File types
*.log

# OS noise
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
venv/
build/
dist/

# Node (if any)
node_modules/

# Secrets (never commit!)
.env
*.key
*.pem
